.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.foot{
/*padding: 10px 20px 11px 10px;*/
 
/*position: fixed;*/

 overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top:920px;
}
