.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.foot{
    
/*position: fixed;*/
  color: rgb(179, 133, 18);
 background: goldenrod;
 overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top:720px;
  align-items: center;
  text-align: center;
  display:inline-block;
}

.btn-linkedin{
  padding-top: -15px;
  padding-left: 25px;
  padding-right: 20px;
}
.scl{
  float:left;
  padding-left:25px;
}
.eml{
  float:left;
  padding-left:25px;
}