<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../Static/Css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<div class="footdiv" >
<mat-toolbar class="foot" color="primary">
  <mat-toolbar-row>
    <span>Social</span>
    <mat-icon class="fa fa-linkedin" style="font-size:24px">
  <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/mario-hines-96a9bb144/"><i class="fa fa-linkedin fa-lg"></i></a>
</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

</div>