<navigation></navigation>

<hello name="{{ name }}"></hello>
<p>
  Starts editing to see some magic happen :)
</p>

<div style="padding:25px;align-content:center;">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title >Atlanta</mat-card-title>
    <mat-card-subtitle>, GA</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://news.gatech.edu/hg/image/367791/original"alt="Photo of a Shiba Inu" style="padding:5px 5px;background: rgb(197, 197, 214);align-content:center;">
  <mat-card-content>
    <p>
     It's cloudy in Atlanta!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>