.centerBox{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  align-self: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 10%;
}
.img{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  align-self: center;
  align-items: center;
  align-content: center;
  width: 50%;
  

}

mat-card{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  align-self: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
.drive-card{
  display:inline-block;
  text-align:center;
}
