<!DOCTYPE html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
</head>
<!--
<mat-card class="drive-card">
  <mat-card-header style="">
    <div mat-card-avatar class="title"style="padding:125px 12px "><mat-card-title >Atlanta,Ga</mat-card-title></div>
  </mat-card-header>
  <img class="img" mat-card-image src="https://pbs.twimg.com/media/EXDVsRkXQAEBK4P?format=jpg&name=large"alt="" style="padding:3px 3px;align-content:center;">
  <mat-card-content>
    <p>
     It's cloudy in Atlanta!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
-->

<!-- basic divider-->
<!--
<mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>
-->

<mat-tab-group dynamicHeight>
  <mat-tab label="Short tab">
    <div class="example-small-box mat-elevation-z4">
      Small content
    </div>
  </mat-tab>
  <mat-tab label="Long tab">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
</mat-tab-group>