<!DOCTYPE html>

<mat-card class="drive-card">
  <mat-card-header style="">
    <div mat-card-avatar class="example-header-image"style="padding:125px"><mat-card-title >Atlanta,Ga</mat-card-title></div>
  </mat-card-header>
  <img class="img" mat-card-image src="https://pbs.twimg.com/media/EXDVsRkXQAEBK4P?format=jpg&name=large"alt="" style="padding:3px 3px;align-content:center;">
  <mat-card-content>
    <p>
     It's cloudy in Atlanta!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
