@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';





.centerBox{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  align-self: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 10%;
  padding: 24px 12px ;
  border-top: 56px;
}
.img{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  align-self: center;
  align-items: center;
  align-content: center;
  width: 100px;
  position: inherit;
  height: 132px;
  left: 20px;
  right: inherit;
  margin-right: inherit;
  margin-top: -224px;
}

mat-card{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  align-self: center;
  align-items: center;
  align-content: center;
  width: 100%;
 vertical-align: bottom;
}
.drive-card{
 align-self: center;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  height: 392px ;
  margin-top: 215px;
  left:150px;
  position:absolute;
  margin-right: 115px;
  width:245px;
  right: 122px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  display:inline-block;
  text-align:center;
 
}

mat-card-title{

}
.title{
  color:#EEEEEE;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EEEEEE;
    text-shadow: 
      -1px 1px 0 rgb(137, 139, 148),
      -2px 2px 0 rgb(137, 139, 148),
      -3px 3px 0 rgb(137, 139, 148),
      -4px 4px 0 #000,
      -5px 5px 0 #000,
      -6px 6px 0 #000,
      -7px 7px 0 #000;
      
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
mat-list{
  
  padding: 0px;


  font-size: 8pt;
  
  margin: 228px 0px;
  position: fixed;
  width:100%;
  
  
}