

mat-toolbar{
text-align: center;
padding: 0px 200px 11px;
align-content: center;
align-self: center;
color: rgba(0,0,0,.87);
background: rgb(197, 197, 214);
font: 400 20px/32px Roboto,Helvetica Neue,sans-serif;
letter-spacing: normal;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
box-shadow:  0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);

}
mat-icon-button{
  float:left;
  align-self: center;
  padding:13px 21px 2px .5in;
  box-align: auto;
  box-shadow:  0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  background-position-x: center;
  background-position-y: center;
  background-color: goldenrod;
  
}
