<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
      
</head>

<mat-toolbar>
  
  <div class="hamburger">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="border:2px black" class="brgrbttn">
  <mat-icon>
    <span class="material-icons">
menu
<mat-menu #menu="matMenu" class="pop-up">
  <button mat-menu-item class="b1" >
    <mat-icon class="dlpd">how_to_reg</mat-icon>
    <span>Subscribe</span>
  </button>
  <button mat-menu-item >
    <mat-icon>store</mat-icon>
    <span>Shop</span>
  </button>
  <button mat-menu-item>
    <mat-icon>person_pin</mat-icon>
    <span>About</span>
  </button>
</mat-menu> 
</span>
  </mat-icon>
  
</button>





  <!--<mat-icon-button></mat-icon-button> -->
  <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>search</mat-label>
    <input matInput placeholder="Ex. location" value="">
  </mat-form-field>
  <button class="srchbtn">
  <mat-icon  >search</mat-icon>
  </button>
  </form>
 <!--<mat-form-field appearance="fill" class="input-form" >
    <input matInput>
  </mat-form-field>-->
  </div>
  <mat-toolbar-row>
    <span class="title" >The Soft Shop</span>
  </mat-toolbar-row> 
  <div>
    
  </div>
  
    
  
</mat-toolbar>
