@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.title{
  color:#EEEEEE;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EEEEEE;
    text-shadow: 
      -1px 1px 0 rgb(137, 139, 148),
      -2px 2px 0 rgb(137, 139, 148),
      -3px 3px 0 rgb(137, 139, 148),
      -4px 4px 0 #000,
      -5px 5px 0 #000,
      -6px 6px 0 #000,
      -7px 7px 0 #000;
}

mat-toolbar{
text-align: center;
padding: 10px 20px 11px 10px;
align-content: center;
align-self: center;
color: rgba(0,0,0,.87);
/*background: rgb(197, 197, 214);*/
/*background: rgb(115, 101, 190);*/
background: rgb(248, 248, 250);

font: 400 20px/32px Roboto,Helvetica Neue,sans-serif;
letter-spacing: normal;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
left: 0;
width: 100%; /* Full width */
box-shadow:  0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
font-family: 'Pacifico', cursive;


}
mat-icon-button{
  float:left;
  align-self: center;
  padding:13px 21px 2px .5in;
  box-align: auto;
  box-shadow:  0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  background-position-x: center;
  background-position-y: center;
  background-color: #EEEEEE;
  border-top-left-radius:2px 2px;
  border-top-right-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
}
input{
  
 top:0;
 /*  top: -25px;*/
   border-top-left-radius:2px 2px;
  border-top-right-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;

   border-top-style:hidden;
   border-left-style: hidden;
   border-right-style: hidden;
   border-bottom-color: black;
   border-bottom-style: hidden;

padding:7px;
padding-bottom: 0px;
padding-left: 10px;
  
}
.input-form{
  border-top-left-radius:2px 2px;
  border-top-right-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;

 background-position-x: center;
  background-position-y: center;
  background-color: #EEEEEE;
  padding: 7px;
  padding-bottom: 0px;
  box-shadow:  0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  }
  

  .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


  .mat-menu-trigger{
  float: left;
  border-top-left-radius:2px 2px;
  border-top-right-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-bottom-style: hidden;
  border-left-style:hidden;
  border-right-style: hidden;
  border-top-style: hidden;
 /* box-shadow:  0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);*/
  
  }

  .pop-up{
    box-shadow: black !important;
    
    background-color: #EEEEEE !important;

  }
  mat-icon{
  
    font-family: 'Material Icons' !important;
     background-size: 10px 20px;
        padding:25px 10px ;

  }
  .dlpd{
  
     
  }
  .hamburger{
    padding:25px 10px ; /* widening toolbar*/
    border:hidden;
  }
  .brgrbttn{
        padding:0rem;
        background: rgb(248, 248, 250)!important;
        color: charcoal;
        
  }
  .example-form {
  min-width: 150px !important;
  max-width: 500px !important;
  width: 100%;
  float:right;
}

.example-full-width {
  width: 50%;

}
/*.b1{
  background: 12px;
  padding:112px 120px;
  width: 25px;
  
  
 left: auto;
     right:auto;
}*/